.layernavigation-module{
	clear: both;
}
.layernavigation-module .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 900; }
.ajax-loader { display: none; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a { display: inline-block; }
.filter-attribute-container { border-bottom: 1px solid #ccc; }
.filter-attribute-container:last-child { border-bottom: 0; }
.filter-attribute-container .remove-filter { position: absolute; right: 0px; top: 50%; margin-top: -7px; font-size: 0; width: 15px; height: 15px; padding: 0; background: url(remove-icon.png) no-repeat;   border: 0; }
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container.filter-attribute-remove-container .list-group-item{ margin-bottom: 0px !important;}
.filter-attribute-container.filter-price .list-group-item {
	padding: 0 12px;
}
.filter-attribute-container .list-group-item { background: none; padding: 0px; border: none; overflow: hidden; position: relative; margin-bottom: 55px !important;}
.filter-attribute-container .list-group-item p {  margin: 0; }
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 0px 0 0; border: none; background: none; color: #000000;}
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 0px 0px; border-radius: 0; }
.filter-attribute-container .list-group-item .filter-price .slider-values { padding: 5px 0; text-align: center; font-size: 14px; margin-top: 10px}
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; color: #000000;}
.list-group .filter-attribute-container a { border: 0; }
.layernavigation-container h3{
    margin-bottom: 30px;
}
.layered{
    padding: 30px 0px;
    margin-bottom: 50px;
}
.layered .list-group .filter-attribute-container:last-child  .list-group-item{
	margin-bottom: 0 !important;
}
.layered .list-group{
    margin-bottom: 0px;
}
.filter-attribute-remove-container div{
    padding: 10px 0;
    font-size: 12px;
}
.filter-attribute-remove-container .filter-act-name span:hover{
    color: #67D7BB;
}
.filter-attribute-container{
    border: none;
}
.filter-attribute-container label{
    color: #222222;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;
	width: 100%;
	padding: 0px;
	margin-bottom: 15px;
}
#slider-price.ui-slider-horizontal{
    height: 5px;
}
#slider-price .ui-widget-header{
	background: #333333;
	border-radius: 0
}
#slider-price.ui-widget-content{
    background: #e8e8e8;
    border: none !important;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, 
.ui-widget-header .ui-state-default:hover{
	/* background: #fff; */
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #fff;
    border: none;
}
.ui-slider .ui-slider-handle{
    width: 5px;
    height: 13px;
    border-radius: 0px;
    top: -4px;
	background: #6f6f6f;
	margin: 0;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):last-child{
    background: none;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):hover{
	color: #bdb093;
}
.filter-attribute-container .list-group-item a:not(.remove-filter) i{
	margin-right: 10px;
	font-size: 13px;
	display: none;
}
.filter-attribute-container .list-group-item a:not(.remove-filter){
	line-height: 46px;
	display: block;
	text-transform: uppercase;
	color: #666666;
	font-size: 13px;
	border-bottom: 1px solid rgba(0,0,0,.05)
}
@media(max-width: 1024px){
	.layered{
		padding: 10px 0;
	}
}