/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus  {outline: none;}
.oc-banner7-container .slides,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.oc-banner7-container .flexslider {
	margin: 0; 
	padding: 0;
}
.oc-banner7-container .flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden; 
	position: relative; 
} 
/* Hide the slides before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slides img {
	display: block;
}
.oc-banner7-container .flex-pauseplay span {
text-transform: capitalize;
}

/* Clearfix for the .slides element */
.oc-banner7-container .slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0;
	height: 0;
} 
html[xmlns] .oc-banner7-container .slides {display: block;} 
* html .oc-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {
	margin: 0 0 0px 0; 
	position: relative; 
	zoom: 1;
}
.oc-banner7-container .flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
.oc-banner7-container .loading .flex-viewport {
	max-height: 300px;
}
.oc-banner7-container .flexslider .slides {zoom: 1;}

.oc-banner7-container .carousel li {
	margin-right: 5px
}

/* Control Nav */
.nivo-controlNav {
	text-align:center;
	padding:0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.oc-banner7-container .flex-control-nav,
.nivo-controlNav {
	width: 100%; 
	position: absolute; 
	bottom: 20px; 
	text-align: left !important;
	padding-left: 30px !important;
}
.oc-banner7-container .flex-control-nav li { 
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	display: inline; 
}
.oc-banner7-container .flex-control-paging li a,
.nivo-controlNav a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: #aaa; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	-o-border-radius: 100%; 
	border-radius: 100%; 
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	z-index: 9; 
}
.oc-banner7-container .flex-control-paging li a:hover,
.oc-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
	cursor: pointer;
    height: 10px;
    line-height: 10px;
    width: 10px;
}
.oc-banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.oc-banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.oc-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.oc-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.oc-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.oc-nivoslider {
	/*overflow: hidden;*/
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    padding: 0px 0;
    text-align: center;
}
.nivo-controlNav a {
    background-color: #ffffff;
    border: 0 none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    line-height: 8px;
    margin: 0 3px;
    position: relative;
    text-indent: -9999px;
    width: 8px;
}
.banner7-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: none repeat scroll 0% 0% transparent;
	color: #FFF;
	font-size: 16px;
	z-index: 8;
}
@-webkit-keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
@keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
.timeloading{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 5px;
	animation: ease-in-out 0s normal none 1 running timeloading;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.banner7-content {
	height: 100%;
	position: relative;
}
.banner7-content.slider-3 .text-content,
.banner7-content.slider-2 .text-content,
.banner7-content.slider-1 .text-content{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	font-size: 100%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 16px;
	text-align: center;
}
.banner7-content .title1 {
	font-size: 300%;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
	margin: 0;
	letter-spacing: .05em;
}
.banner7-content .sub-title {
	margin: 0;
	font-size: 300%;
	color: #fff;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: 900;
}
.banner7-content .banner7-des:first-letter{
	text-transform: uppercase;
}
.banner7-content .banner7-des{
	text-transform: lowercase;
	color: #232323;
	font-size: 112.5%;
}
.banner7-content .banner7-des img{
	margin: 0 auto;
	display: inline-block;
	position: static;
}
.banner7-content .banner7-des span{
	font-weight: 700;
	font-size: 14px;
}
.banner7-content .banner7-des h1{
	font-size: 300%;
	color: #262626;
	margin: 25px 0;
	font-weight: 700;
}
.banner7-content .banner7-des p:first-letter{
	text-transform: capitalize;
}
.banner7-content .banner7-des p{
	font-size: 150%;
	text-transform: capitalize;
	margin: 30px 0 0;
	padding: 0;
	line-height: 30px;
	letter-spacing: .05em;
	color: #fff;
}
.banner7-readmore{
	position: relative;
	z-index: 10;
}
.banner7-readmore a:hover{
	background-color: rgba(189, 176, 147, .7);
	border-color: rgba(189, 176, 147, .7);
	color: #fff;
}
.banner7-readmore a{
	color: #fff;
	position: relative;
	z-index: 10;
	font-weight: 900;
	padding: 8px 20px;
	font-size: 15px;
	text-transform: uppercase;
	display: inline-block;
	background: none;
	text-align: center;
	border: 1px solid #fff;
	margin-top: 35px;
}
.banner7-content.slider-1 .banner7-readmore{
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.banner7-content.slider-2 .banner7-readmore{
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.banner7-content.slider-3 .banner7-readmore{
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.banner7-content.slider-2 .title1{ 
	animation: zoomIn 1s linear alternate; 
	-webkit-animation: zoomIn 1s linear alternate;
	-moz-animation: zoomIn 1s linear alternate;
}
.banner7-content.slider-1 .title1{ 
	animation: rollIn 1s linear alternate; 
	-webkit-animation: rollIn 1s linear alternate;
	-moz-animation: rollIn 1s linear alternate;
}
.banner7-content.slider-3 .title1{ 
	animation: fadeInLeft 1s linear alternate; 
	-webkit-animation: fadeInLeft 1s linear alternate;
	-moz-animation: fadeInLeft 1s linear alternate;
}
.banner7-content.slider-1 .banner7-des {
	animation: slideInDown 2s linear alternate; 
	-webkit-animation: slideInDown 2s linear alternate;
	-moz-animation: slideInDown 2s linear alternate;
}
.banner7-content.slider-2 .banner7-des{
	animation: bounceIn 2s linear alternate; 
	-webkit-animation: bounceIn 2s linear alternate;
	-moz-animation: bounceIn 2s linear alternate;
}
.banner7-content.slider-3 .banner7-des{
	animation: fadeInRight 1.5s linear alternate; 
	-webkit-animation: fadeInRight 1.5s linear alternate;
	-moz-animation: fadeInRight 1.5s linear alternate;
}.banner7-content.slider-1 .sub-title  {
	animation: slideInDown 2s linear alternate; 
	-webkit-animation: slideInDown 2s linear alternate;
	-moz-animation: slideInDown 2s linear alternate;
}
.banner7-content.slider-2 .sub-title {
	animation: bounceIn 2s linear alternate; 
	-webkit-animation: bounceIn 2s linear alternate;
	-moz-animation: bounceIn 2s linear alternate;
}
.banner7-content.slider-3 .sub-title {
	animation: rotateInDownRight 2s linear alternate; 
	-webkit-animation: rotateInDownRight 2s linear alternate;
	-moz-animation: rotateInDownRight 2s linear alternate;
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:8;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 8;
}
.nivo-caption .container{
	
}
.nivo-caption p {
	padding:5px;
	margin:0;
}

.nivo-html-caption {
    display:none;
}
/** ocslideshow **/
.banner7{
	position: relative;
	z-index: 0;
	margin: 0 -30px 30px;
}
.nivo-directionNav i{
	font-size: 100px;
	display: block;
	line-height: 100px;
	top: 0;
}
.oc-banner7-container .flex-direction-nav a,
.nivo-directionNav a {
	width: 100px; 
	height: 100px;
	margin: -50px 0 0;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	font-size: 0;
	z-index: 9;  
	background: none;
	line-height: 100px;
	text-align: center;
	color: #fff;
}
.oc-banner7-container .flex-direction-nav .flex-next,
.oc-banner7-container .nivo-directionNav a.nivo-nextNav { 
	opacity: 0; 
	transition: all 0.3s ease-out; 
	right: 30px; 
}
.oc-banner7-container .flex-direction-nav .flex-prev,
.oc-banner7-container .nivo-directionNav a.nivo-prevNav { 
	left: 30px;  
	opacity: 0; 
	transition: all 0.3s ease-out;
}
.oc-banner7-container:hover .nivo-directionNav a{  
	opacity:1;
}
.oc-banner7-container .flexslider .flex-next:hover i, 
.oc-banner7-container .nivo-directionNav a.nivo-nextNav:hover i,
.oc-banner7-container .flexslider .flex-prev:hover i, 
.oc-banner7-container .nivo-directionNav a.nivo-prevNav:hover i{ 
	color: #abaaaa;
}
.oc-banner7-container .flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default; 
} 

.oc-banner7-container .flex-direction-nav a:hover::before,
.oc-banner7-container .nivo-directionNav a:hover::before{
	
}
.oc-banner7-container .nivo-controlNav a {
	display: inline-block;
	height: 10px;
	margin: 0 3px;
	font-size: 0;
	width: 10px; 
	cursor: pointer;
	position: relative;
	z-index: 9;
	border-radius: 100%;
	background: #fff;
	border: 1px solid rgba(0,0,0,.2);
	line-height: 10px;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
	position: relative;
}
.oc-banner7-container .nivo-controlNav a.active,
.oc-banner7-container .nivo-controlNav a:hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	transform-origin: center;
}
.oc-banner7-container .nivo-controlNav a:hover:before,
.oc-banner7-container .nivo-controlNav a.active:before {
	content:"";
	display: block;
	position: absolute;
	background: #3d75b9;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}
/** /ocslideshow **/
/* responsive */
@media(max-width:1024px){
	.banner7{
		margin-bottom: 30px;
	}
	.banner7-content .banner7-des,
	.banner7-content.slider-3 .text-content,
	.banner7-content.slider-2 .text-content,
	.banner7-content.slider-1 .text-content{
		/* font-size: 16px */
	}
	.oc-banner7-container .flex-control-nav, .nivo-controlNav{
		bottom: 20px;
	}
}
@media(max-width:991px){
	.banner7-content .banner7-des,
	.banner7-content.slider-3 .text-content,
	.banner7-content.slider-2 .text-content,
	.banner7-content.slider-1 .text-content{
		width: 100%;
		font-size: 70%;
	}
	.banner7-readmore a{
		margin-top: 30px;
	}
}
@media(max-width:767px){
	.nivo-directionNav{
		display: none;
	}
	.banner7-readmore a{
		margin-top: 20px;
	}
	.oc-banner7-container .flexslider .slides span,
	.oc-banner7-container .flexslider .slides img{
		display: none;
	}
}
@media(max-width:560px){
	.banner7-content .banner7-des,
	.banner7-content.slider-3 .text-content,
	.banner7-content.slider-2 .text-content,
	.banner7-content.slider-1 .text-content{
		width: 100%;
	}
}
@media(max-width:480px){
	.banner7-content.slider-3 .text-content,
	.banner7-content.slider-2 .text-content,
	.banner7-content.slider-1 .text-content{
		display: none;
	}
}